spp-nifi/CalculateIndexReturns.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "7292e460-f819-37c1-bfa9-01d7764758f2" : {
          "identifier" : "7292e460-f819-37c1-bfa9-01d7764758f2",
          "name" : "Spp-Postgres-HikariCP"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "6211b65c-f615-3b8b-88f6-b72ed9cebbe7",
            "instanceIdentifier" : "ba7d050c-2d08-3562-6037-57124649171e",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "43ee299b-f789-32d9-bfe7-f14df323f4c4",
          "instanceIdentifier" : "97726b9d-b50c-3dd4-5977-23757ab4f64c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "ac34f395-6c0b-30c8-9d0c-8df27b3545ef",
            "instanceIdentifier" : "b1e9fa1c-b4f5-3888-76f7-949b824339de",
            "name" : "VerifyLevels",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3618fea3-10ed-3636-ae80-87b4d0a6c852",
            "instanceIdentifier" : "770dbfd8-5431-3f81-d375-b4f16069e84d",
            "name" : "FinishIndexLevelsDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "d012cf66-beec-388d-8f79-119ed62d7af8",
          "instanceIdentifier" : "75ff21ed-4f9f-3f8b-a142-4a2868b2138f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "8d10101c-e415-326c-9606-030584bd2e8a",
            "instanceIdentifier" : "82463d56-1821-34a4-ce11-95eaa2023604",
            "name" : "IndexLevelsDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3b4b5167-37d4-3e3c-b9bd-1ba19413f818",
            "instanceIdentifier" : "a02e389d-0e89-1fd9-7b79-073777408cc7",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "86ae363f-72ae-3376-8548-75218017edd5",
          "instanceIdentifier" : "a02e38a4-0e89-1fd9-aef6-e3ae329a4bbf",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3e62c120-582b-3f1b-97a9-e4060caa6d05",
            "instanceIdentifier" : "a02e384e-0e89-1fd9-6ffd-07e9b2a4c1f6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3618fea3-10ed-3636-ae80-87b4d0a6c852",
            "instanceIdentifier" : "770dbfd8-5431-3f81-d375-b4f16069e84d",
            "name" : "FinishIndexLevelsDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "07f2760e-c7a5-323b-89e9-8c8c0fcfdb72",
          "instanceIdentifier" : "d96b34c7-da36-3370-082d-d60da7b3d8e2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "0d97b94b-a034-3ecc-b8a6-01e4981378eb",
            "instanceIdentifier" : "3bc7afdb-e7fe-36dc-c211-d92995814a32",
            "name" : "StartIndexLevelsLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "8d10101c-e415-326c-9606-030584bd2e8a",
            "instanceIdentifier" : "82463d56-1821-34a4-ce11-95eaa2023604",
            "name" : "IndexLevelsDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "61d1e8e2-eec8-3d2d-acf2-37f79b99d10f",
          "instanceIdentifier" : "61d1e8e2-eec8-3d2d-d465-776c39e73ea4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "bb997a4e-cfaf-3c09-80cd-cac342e7c539",
            "instanceIdentifier" : "bb997a4e-cfaf-3c09-4dc5-42e13a5d613a",
            "name" : "IndexLevelsLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "bb997a4e-cfaf-3c09-80cd-cac342e7c539",
            "instanceIdentifier" : "bb997a4e-cfaf-3c09-4dc5-42e13a5d613a",
            "name" : "IndexLevelsLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "e16f9e87-50c2-39c4-9edc-85626a79fdae",
          "instanceIdentifier" : "a02e3851-0e89-1fd9-4a13-f99901e70727",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "0d97b94b-a034-3ecc-b8a6-01e4981378eb",
            "instanceIdentifier" : "3bc7afdb-e7fe-36dc-c211-d92995814a32",
            "name" : "StartIndexLevelsLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "76b1e350-968b-34d9-be96-ab8e29d09bde",
            "instanceIdentifier" : "76b1e350-968b-34d9-3669-8a9baf03d1f6",
            "name" : "LoadLastRecordForIndexReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "ab8eae4b-2b9d-306d-aeac-a6c23ef2fbdf",
          "instanceIdentifier" : "ab8eae4b-2b9d-306d-12bd-a8aee2910978",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "e6e6c8ae-3237-32fa-9a24-a09bff775cfe",
            "instanceIdentifier" : "e6e6c8ae-3237-32fa-f70f-9f6cd435336e",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "48fb5a0e-04f9-3a2c-bbc0-af18e791e56a",
            "instanceIdentifier" : "a02e389e-0e89-1fd9-6db8-949ce2d0eac2",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "2b5f3645-5cdd-3501-9414-06fac7a2e021",
          "instanceIdentifier" : "a02e38a2-0e89-1fd9-dadd-5f98d42271ee",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "eb81acb1-7160-31b8-a126-f92acf59e627",
            "instanceIdentifier" : "a02e389c-0e89-1fd9-c05b-a7dbeaa8e04f",
            "name" : "IsHoliday",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "e6e6c8ae-3237-32fa-9a24-a09bff775cfe",
            "instanceIdentifier" : "e6e6c8ae-3237-32fa-f70f-9f6cd435336e",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "70d29137-35e0-397b-8eeb-ec3ff5468251",
          "instanceIdentifier" : "a02e38ab-0e89-1fd9-9086-0465996f50aa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "c4344e3e-020f-39e0-a8fe-5b2ad665c19b",
            "instanceIdentifier" : "c4344e3e-020f-39e0-13b8-a53ed138c42a",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "bf727dd4-fdf3-307f-a769-0e621c1e4356",
            "instanceIdentifier" : "6288f956-3156-397d-ae82-05a50180a4d3",
            "name" : "NextDates",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "f3e855a8-3c9f-3ddb-af70-8da722e0f8cb",
          "instanceIdentifier" : "f3e855a8-3c9f-3ddb-55dc-38003412b4ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "76b1e350-968b-34d9-be96-ab8e29d09bde",
            "instanceIdentifier" : "76b1e350-968b-34d9-3669-8a9baf03d1f6",
            "name" : "LoadLastRecordForIndexReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "eb81acb1-7160-31b8-a126-f92acf59e627",
            "instanceIdentifier" : "a02e389c-0e89-1fd9-c05b-a7dbeaa8e04f",
            "name" : "IsHoliday",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "af533bcb-ecc5-3be6-9e14-f1921a8e030a",
          "instanceIdentifier" : "a02e38a1-0e89-1fd9-29b7-d7a6dcbd3655",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3b4b5167-37d4-3e3c-b9bd-1ba19413f818",
            "instanceIdentifier" : "a02e389d-0e89-1fd9-7b79-073777408cc7",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "f41e3ef0-4605-3b57-90bb-620f57d6d62e",
            "instanceIdentifier" : "061750aa-47ce-3da6-fff2-2e672d1c08dd",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "8a56e9e3-c475-31a5-b637-8707b57b157e",
          "instanceIdentifier" : "fea1609d-1791-3953-12d7-6478421824c9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "levelsFound",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "6211b65c-f615-3b8b-88f6-b72ed9cebbe7",
            "instanceIdentifier" : "ba7d050c-2d08-3562-6037-57124649171e",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "15791f07-798b-3ddd-ab98-ada73a1b3656",
            "instanceIdentifier" : "a02e389f-0e89-1fd9-3856-3de1ae9b7345",
            "name" : "CheckHoliday",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "0379bc1f-fc7e-35ea-8d58-0dab250fdaa0",
          "instanceIdentifier" : "a02e38a3-0e89-1fd9-ad37-c71435022007",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "48fb5a0e-04f9-3a2c-bbc0-af18e791e56a",
            "instanceIdentifier" : "a02e389e-0e89-1fd9-6db8-949ce2d0eac2",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "ac34f395-6c0b-30c8-9d0c-8df27b3545ef",
            "instanceIdentifier" : "b1e9fa1c-b4f5-3888-76f7-949b824339de",
            "name" : "VerifyLevels",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "256d0da7-e4b8-3b13-a84d-282f6b4309d1",
          "instanceIdentifier" : "4d820437-e199-3b19-c773-297547219a0e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3618fea3-10ed-3636-ae80-87b4d0a6c852",
            "instanceIdentifier" : "770dbfd8-5431-3f81-d375-b4f16069e84d",
            "name" : "FinishIndexLevelsDateLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "ed90ee09-3f9d-31f8-b61f-6615e7f0c141",
            "instanceIdentifier" : "e86354ce-a3a5-3b70-70ff-36acf2766e07",
            "name" : "StartIndexReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "ab1d1e6b-0147-32cb-90d5-935d81dc5ddd",
          "instanceIdentifier" : "a02e384c-0e89-1fd9-4e2b-46ba79043f80",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "09fb051e-05df-3d03-bf55-883e0b698979",
            "instanceIdentifier" : "a02e384a-0e89-1fd9-a688-423004979171",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "09fb051e-05df-3d03-bf55-883e0b698979",
            "instanceIdentifier" : "a02e384a-0e89-1fd9-a688-423004979171",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "2919054e-fa48-3884-b60d-389e3af4a2db",
          "instanceIdentifier" : "a02e384b-0e89-1fd9-d626-dc5d06a9cfc7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "bf727dd4-fdf3-307f-a769-0e621c1e4356",
            "instanceIdentifier" : "6288f956-3156-397d-ae82-05a50180a4d3",
            "name" : "NextDates",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "0d97b94b-a034-3ecc-b8a6-01e4981378eb",
            "instanceIdentifier" : "3bc7afdb-e7fe-36dc-c211-d92995814a32",
            "name" : "StartIndexLevelsLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "210b3101-5d6a-3719-992d-061fe4cfd290",
          "instanceIdentifier" : "a02e38a5-0e89-1fd9-755c-74f8c0b0117d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "business" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "15791f07-798b-3ddd-ab98-ada73a1b3656",
            "instanceIdentifier" : "a02e389f-0e89-1fd9-3856-3de1ae9b7345",
            "name" : "CheckHoliday",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "48fb5a0e-04f9-3a2c-bbc0-af18e791e56a",
            "instanceIdentifier" : "a02e389e-0e89-1fd9-6db8-949ce2d0eac2",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "dd0d1096-0037-356d-973f-21e6c42dd249",
          "instanceIdentifier" : "a02e38a0-0e89-1fd9-4106-484b596a1e06",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3b4b5167-37d4-3e3c-b9bd-1ba19413f818",
            "instanceIdentifier" : "a02e389d-0e89-1fd9-7b79-073777408cc7",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "3e62c120-582b-3f1b-97a9-e4060caa6d05",
            "instanceIdentifier" : "a02e384e-0e89-1fd9-6ffd-07e9b2a4c1f6",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "116d4698-1568-35ea-ad06-a63c42983ba4",
          "instanceIdentifier" : "a02e384f-0e89-1fd9-a745-f8410f70c053",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "ed90ee09-3f9d-31f8-b61f-6615e7f0c141",
            "instanceIdentifier" : "e86354ce-a3a5-3b70-70ff-36acf2766e07",
            "name" : "StartIndexReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "64bf9a89-2d1a-3f1c-9889-1d1d0ea68b98",
            "instanceIdentifier" : "64bf9a89-2d1a-3f1c-e8eb-fba3e43e1699",
            "name" : "SaveReturnsIntoDb",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "b7b583d4-e97d-3c7a-a994-6aa22515ef04",
          "instanceIdentifier" : "b7b583d4-e97d-3c7a-c9ac-c0b4fc134c5c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
            "id" : "f41e3ef0-4605-3b57-90bb-620f57d6d62e",
            "instanceIdentifier" : "061750aa-47ce-3da6-fff2-2e672d1c08dd",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "a5780a10-2166-3f2e-b8b9-5c1c4312b8cc",
          "instanceIdentifier" : "d0f3382c-4f1c-3ec3-f9a5-9daf37b16f4f",
          "name" : "IndexLevelsLookupOriginalRecordReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "e27d5377-42ad-3cb5-aa28-288efc143dac",
          "instanceIdentifier" : "a02e38a8-0e89-1fd9-b249-62773e70894d",
          "name" : "HolidayCheckEnrichmentJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "6b66e10a-ca6e-3113-96cd-b02edcb7d0a1",
          "instanceIdentifier" : "6b66e10a-ca6e-3113-668a-479e3f9e7705",
          "name" : "IndexLevelsLookupJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "47ccef09-0ecd-3929-b57b-12052df395f8",
          "instanceIdentifier" : "9a9ffbb4-cada-3dcc-1a5a-f2079e296de4",
          "name" : "IndexLevelsLookupEnrichmentRecordReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "19e6f3e3-b2a1-3a9a-a79a-b9a90e4392ea",
          "instanceIdentifier" : "19e6f3e3-b2a1-3a9a-d60a-a7119a563ab8",
          "name" : "IndexLevelsLookupEnrichedRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "bc6293da-48d5-3145-aabb-1ef68c8e8117",
          "instanceIdentifier" : "a02e38a7-0e89-1fd9-1150-72ed8d59f228",
          "name" : "HolidayCheckOriginalJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "80824893-fc7f-38bc-bf48-673d76729a9e",
          "instanceIdentifier" : "80824893-fc7f-38bc-f6a2-4dfb987323f0",
          "name" : "IndexReturnsJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "57d5a81f-e108-318a-a045-bffeb4718f1b",
          "instanceIdentifier" : "a02e38a9-0e89-1fd9-e1a5-f6ad5342ec5a",
          "name" : "HolidayCheckJoinJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "f0574955-fc05-37ac-9b7f-17f25bd292c4",
          "instanceIdentifier" : "f0574955-fc05-37ac-a81c-9fcb182fda90",
          "name" : "IndexReturnsLastDateJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "1340d1a6-cfd5-3784-a12a-4d7de890bd32",
          "instanceIdentifier" : "a02e38a6-0e89-1fd9-0af5-cf35e36cfca3",
          "name" : "HolidayCheckJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
        "inputPorts" : [ ],
        "instanceIdentifier" : "87aa0280-4038-38a8-f78a-55bccc544ee9",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "CalculateIndexReturns",
        "outputPorts" : [ ],
        "parameterContextName" : "SPP",
        "position" : {
          "x" : 328.0,
          "y" : -296.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "3b4b5167-37d4-3e3c-b9bd-1ba19413f818",
          "instanceIdentifier" : "a02e389d-0e89-1fd9-7b79-073777408cc7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ForkEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 128.0,
            "y" : 312.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "64bf9a89-2d1a-3f1c-9889-1d1d0ea68b98",
          "instanceIdentifier" : "64bf9a89-2d1a-3f1c-e8eb-fba3e43e1699",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SaveReturnsIntoDb",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 968.0,
            "y" : 2192.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-schema-name" : "spp",
            "put-db-record-quoted-table-identifiers" : "true",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "false",
            "put-db-record-dcbp-service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "put-db-record-statement-type" : "UPSERT",
            "db-type" : "PostgreSQL",
            "put-db-record-update-keys" : "index_id,date,return_period",
            "put-db-record-quoted-identifiers" : "true",
            "put-db-record-table-name" : "index_returns",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "put-db-record-record-reader" : "80824893-fc7f-38bc-bf48-673d76729a9e"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "bb997a4e-cfaf-3c09-80cd-cac342e7c539",
          "instanceIdentifier" : "bb997a4e-cfaf-3c09-4dc5-42e13a5d613a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "IndexLevelsLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 944.0,
            "y" : 1144.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "6b66e10a-ca6e-3113-96cd-b02edcb7d0a1",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "false",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : " SELECT id, index_id, to_char(\"date\", 'YYYY-MM-DD') \"date\", close, high, low, open  FROM spp.index_levels il \n WHERE index_id = ${index_id}\n AND \"date\" IN ('${date}', spp.previous_business_date('#{exchangeBse}', '#{exchangeBseSegmentEquity}', '${date}', ${return_period_days}))\n ORDER BY \"date\" DESC ",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "0d97b94b-a034-3ecc-b8a6-01e4981378eb",
          "instanceIdentifier" : "3bc7afdb-e7fe-36dc-c211-d92995814a32",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartIndexLevelsLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : 1136.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "3e62c120-582b-3f1b-97a9-e4060caa6d05",
          "instanceIdentifier" : "a02e384e-0e89-1fd9-6ffd-07e9b2a4c1f6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 144.0,
            "y" : 56.0
          },
          "properties" : {
            "date" : "$.date",
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "index_id" : "$.index_id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "date" : {
              "displayName" : "date",
              "identifiesControllerService" : false,
              "name" : "date",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "index_id" : {
              "displayName" : "index_id",
              "identifiesControllerService" : false,
              "name" : "index_id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "eb81acb1-7160-31b8-a126-f92acf59e627",
          "instanceIdentifier" : "a02e389c-0e89-1fd9-c05b-a7dbeaa8e04f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "IsHoliday",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 952.0,
            "y" : 448.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "1340d1a6-cfd5-3784-a12a-4d7de890bd32",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT spp.is_holiday('#{exchangeBse}', '#{exchangeBseSegmentEquity}', '${date}')",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "e6e6c8ae-3237-32fa-9a24-a09bff775cfe",
          "instanceIdentifier" : "e6e6c8ae-3237-32fa-f70f-9f6cd435336e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 144.0,
            "y" : -1128.0
          },
          "properties" : {
            "return_period_days" : "$",
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "return_period_days" : {
              "displayName" : "return_period_days",
              "identifiesControllerService" : false,
              "name" : "return_period_days",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "76b1e350-968b-34d9-be96-ab8e29d09bde",
          "instanceIdentifier" : "76b1e350-968b-34d9-3669-8a9baf03d1f6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LoadLastRecordForIndexReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 152.0,
            "y" : -880.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "f0574955-fc05-37ac-9b7f-17f25bd292c4",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "false",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT i.id index_id, to_char(ir.\"date\", 'YYYY-MM-DD') \"date\" \nFROM spp.indices i \nINNER JOIN spp.exchanges e \nON e.id = i.exchange_id  \nLEFT OUTER JOIN spp.index_returns ir\nON i.id = ir.index_id\nAND ir.return_period = '${return_period_days}d'\nWHERE \ni.status = 'Active'\nAND e.\"name\" = '#{exchangeBse}'\nAND i.\"index\" = '#{exchangeBseSensex}'\nORDER BY ir.\"date\" DESC \nLIMIT 1",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "ed90ee09-3f9d-31f8-b61f-6615e7f0c141",
          "instanceIdentifier" : "e86354ce-a3a5-3b70-70ff-36acf2766e07",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartIndexReturnsCalculationForDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 136.0,
            "y" : -176.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "let return_period_seconds = 86400 * ${return_period_days}\n\n{\n  \"index_id\": .\"index_id\",\n  \"date\": .\"date\",\n  \"return_period\": \"${return_period_days}d\",\n  \"dateFromLevels\": ${return_period_days},\n  \"dateToLevels\":.\"date\",\n  \"error\":null\n}",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "c4344e3e-020f-39e0-a8fe-5b2ad665c19b",
          "instanceIdentifier" : "c4344e3e-020f-39e0-13b8-a53ed138c42a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 168.0,
            "y" : -1384.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "#{forecastDays}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "86400 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "holiday", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "15791f07-798b-3ddd-ab98-ada73a1b3656",
          "instanceIdentifier" : "a02e389f-0e89-1fd9-3856-3de1ae9b7345",
          "maxBackoffPeriod" : "10 mins",
          "name" : "CheckHoliday",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 128.0,
            "y" : 832.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "business" : "\"is_holiday\":false",
            "Match Requirement" : "content must contain match",
            "Character Set" : "UTF-8",
            "holiday" : "\"is_holiday\":true"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "business" : {
              "displayName" : "business",
              "identifiesControllerService" : false,
              "name" : "business",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "holiday" : {
              "displayName" : "holiday",
              "identifiesControllerService" : false,
              "name" : "holiday",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "ac34f395-6c0b-30c8-9d0c-8df27b3545ef",
          "instanceIdentifier" : "b1e9fa1c-b4f5-3888-76f7-949b824339de",
          "maxBackoffPeriod" : "10 mins",
          "name" : "VerifyLevels",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : 1768.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "if(.\"date\" == .\"dateToLevels\".\"date\" and .\"error\" == null)\n  {\n  *:.\n  }\nelse\n  {\n  \"error\": if(.\"error\") .\"error\" else \"Some levels missing\",\n  *:.\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "8d10101c-e415-326c-9606-030584bd2e8a",
          "instanceIdentifier" : "82463d56-1821-34a4-ce11-95eaa2023604",
          "maxBackoffPeriod" : "10 mins",
          "name" : "IndexLevelsDateLookupRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 944.0,
            "y" : 1448.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "let levels=.\n\nif(is-array($levels) and size($levels)==2)\n  let dateToLevels={\n      \"id\":.[0].\"id\",\n      \"date\":.[0].\"date\",\n      \"open\":.[0].\"open\",\n      \"high\":.[0].\"high\",\n      \"low\":.[0].\"low\",\n      \"close\":.[0].\"close\"\n  }\n\n  let dateFromLevels={\n      \"id\":.[1].\"id\",\n      \"date\":.[1].\"date\",\n      \"open\":.[1].\"open\",\n      \"high\":.[1].\"high\",\n      \"low\":.[1].\"low\",\n      \"close\":.[1].\"close\"\n  }\n\n  {\n    \"dateFromLevels\":$dateFromLevels,\n    \"dateToLevels\":$dateToLevels\n  }\nelse\n  {\n    \"error\":\"Some levels missing\",\n\t*:.\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "error" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "6211b65c-f615-3b8b-88f6-b72ed9cebbe7",
          "instanceIdentifier" : "ba7d050c-2d08-3562-6037-57124649171e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 176.0,
            "y" : 1968.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "Match Requirement" : "content must contain match",
            "error" : "\"Some levels missing\"",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "error" : {
              "displayName" : "error",
              "identifiesControllerService" : false,
              "name" : "error",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "09fb051e-05df-3d03-bf55-883e0b698979",
          "instanceIdentifier" : "a02e384a-0e89-1fd9-a688-423004979171",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 144.0,
            "y" : -416.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "48fb5a0e-04f9-3a2c-bbc0-af18e791e56a",
          "instanceIdentifier" : "a02e389e-0e89-1fd9-6db8-949ce2d0eac2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoinEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 128.0,
            "y" : 584.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "bc6293da-48d5-3145-aabb-1ef68c8e8117",
            "Record Writer" : "57d5a81f-e108-318a-a045-bffeb4718f1b",
            "Enrichment Record Reader" : "e27d5377-42ad-3cb5-aa28-288efc143dac",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ "timeout" ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "bf727dd4-fdf3-307f-a769-0e621c1e4356",
          "instanceIdentifier" : "6288f956-3156-397d-ae82-05a50180a4d3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "NextDates",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 144.0,
            "y" : -624.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "def getNextDate(record)\n  let trainingStartDate = \"#{returnsStartDate}\"\n  let nextDate = if($record.\"date\") round(parse-time($record.\"date\", \"yyyy-MM-dd\") + 86400.00) else round(parse-time($trainingStartDate, \"yyyy-MM-dd\"))\n  \n  {\n\t\"index_id\" : $record.\"index_id\",\n    \"date\" : format-time($nextDate, \"yyyy-MM-dd\")\n  }\n\n\ndef records(arr)\n  let record = $arr[-1]\n  let trainingStopDate = round(parse-time(\"#{endDate}\", \"yyyy-MM-dd\"))\n  let newRecord = getNextDate($record)\n  let newRecordDate = round(parse-time($newRecord.\"date\", \"yyyy-MM-dd\"))\n  if($newRecordDate <= $trainingStopDate)\n    let newArr = if($record.\"date\") flatten([$arr, [$newRecord]]) else [$newRecord]\n    records($newArr)\n  else\n    {\"records\":$arr}\n\n\nrecords([.]).\"records\"\n",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "3618fea3-10ed-3636-ae80-87b4d0a6c852",
          "instanceIdentifier" : "770dbfd8-5431-3f81-d375-b4f16069e84d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FinishIndexLevelsDateLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 160.0,
            "y" : 1464.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "a5780a10-2166-3f2e-b8b9-5c1c4312b8cc",
            "Record Writer" : "19e6f3e3-b2a1-3a9a-a79a-b9a90e4392ea",
            "Enrichment Record Reader" : "47ccef09-0ecd-3929-b57b-12052df395f8",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "87aa0280-4038-38a8-ab7a-ea3c4979627d",
          "identifier" : "f41e3ef0-4605-3b57-90bb-620f57d6d62e",
          "instanceIdentifier" : "061750aa-47ce-3da6-fff2-2e672d1c08dd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "CalculateReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 968.0,
            "y" : 1960.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "  {\n    \"index_id\" : .\"index_id\",\n    \"date\" : .\"date\",\n    \"last_updated_timestamp\":format-time(now(), \"yyyy-MM-dd HH:mm:ss\", \"IST\"),\n\t\"return_period\": .\"return_period\",\n    \"from_index_levels_id\": .\"dateFromLevels\".\"id\",\n\t\"to_index_levels_id\": .\"dateToLevels\".\"id\",\n\t\"return\": (.\"dateToLevels\".\"close\" / .\"dateFromLevels\".\"close\") - 1\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "SPP" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "SPP",
          "parameters" : [ {
            "description" : "",
            "name" : "startDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2000-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBse",
            "provided" : false,
            "sensitive" : false,
            "value" : "BSE"
          }, {
            "description" : "",
            "name" : "endDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-12-31"
          }, {
            "description" : "",
            "name" : "returnsEndDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-09-30"
          }, {
            "description" : "",
            "name" : "alphavantageBaseUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "https://www.alphavantage.co/query"
          }, {
            "description" : "Free Key for now",
            "name" : "alphavantageApiKey",
            "provided" : false,
            "sensitive" : false,
            "value" : "JVUV262LUEINMW0U"
          }, {
            "description" : "",
            "name" : "forecastDays",
            "provided" : false,
            "sensitive" : false,
            "value" : "10"
          }, {
            "description" : "",
            "name" : "returnsStartDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2018-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBseSegmentEquity",
            "provided" : false,
            "sensitive" : false,
            "value" : "EQUITY"
          }, {
            "description" : "",
            "name" : "exchangeBseSensex",
            "provided" : false,
            "sensitive" : false,
            "value" : "SENSEX"
          }, {
            "description" : "",
            "name" : "mongoUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "mongodb://localhost:27017/"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}