spp-nifi/CalculateSecurityReturns.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "7292e460-f819-37c1-bfa9-01d7764758f2" : {
          "identifier" : "7292e460-f819-37c1-bfa9-01d7764758f2",
          "name" : "Spp-Postgres-HikariCP"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
            "instanceIdentifier" : "0bb31159-7f52-31bc-057b-10f035d043e8",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "df226608-8d51-306a-bd4e-17b367f70abf",
          "instanceIdentifier" : "a02e387c-0e89-1fd9-faef-de7c569dddcc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "88852ef4-29a9-34ed-122c-6422496db76d",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "9051d7fb-bf03-3a31-6956-e72aa9f6de7d",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b9025343-c37d-3870-80c7-4c4cb2acefbd",
          "instanceIdentifier" : "0a76702b-9fd2-3ce6-1cdb-14dde3319b09",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
            "instanceIdentifier" : "a335b706-b535-3280-d2b8-5456ea789ed6",
            "name" : "SecurityPricesDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "10 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "393fa7e8-db6b-3227-9987-9311db0597f5",
            "instanceIdentifier" : "a02e3875-0e89-1fd9-199e-d6271927e9fa",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c2e2108f-e392-3488-ab80-42984f35a67c",
          "instanceIdentifier" : "a02e3876-0e89-1fd9-3a6e-981d185406f2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "21f4019d-9c81-3751-a1b4-b4bc50a936c6",
            "name" : "NextDates",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "88bce4c4-b8bb-3770-8352-eb34826ee27e",
            "instanceIdentifier" : "a02e388a-0e89-1fd9-0f7c-9f1348cdb95e",
            "name" : "IsHoliday",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "631bd34b-848a-3789-af47-9edd8f9916e6",
          "instanceIdentifier" : "a02e388e-0e89-1fd9-cf53-ca9fee81771a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "85327fe1-7c74-3f29-a867-da6b6967a0d0",
            "instanceIdentifier" : "a02e388b-0e89-1fd9-360f-9f49bf16707f",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
            "instanceIdentifier" : "a335b706-b535-3280-d2b8-5456ea789ed6",
            "name" : "SecurityPricesDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "655993ff-cf97-38ab-8398-6298e58f85a7",
          "instanceIdentifier" : "655993ff-cf97-38ab-2687-331d018466eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
            "instanceIdentifier" : "0bb31159-7f52-31bc-057b-10f035d043e8",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "8655c4ef-73d9-3e77-9704-759eeb61ae09",
            "instanceIdentifier" : "a02e388c-0e89-1fd9-6f7f-69ef02557667",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "d7e61841-80e1-3654-b4ec-daa1dc9ad792",
          "instanceIdentifier" : "a02e388d-0e89-1fd9-ec93-234fd4086161",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "85327fe1-7c74-3f29-a867-da6b6967a0d0",
            "instanceIdentifier" : "a02e388b-0e89-1fd9-360f-9f49bf16707f",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c9113c75-0d98-3697-bd62-221038e93d0b",
            "instanceIdentifier" : "a02e3879-0e89-1fd9-90f1-578b8c3c2efa",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "dc37495c-e0bf-3c0e-b085-4ca6784599ca",
          "instanceIdentifier" : "a02e3897-0e89-1fd9-fd71-c5e8ee5d4743",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
            "instanceIdentifier" : "08da27f9-b7d9-3ae2-e3a4-893af9526432",
            "name" : "StartSecurityReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "21f4019d-9c81-3751-a1b4-b4bc50a936c6",
            "name" : "NextDates",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9644d233-197c-312b-b447-916ed0b9c97b",
          "instanceIdentifier" : "9644d233-197c-312b-fdba-ac6144792f28",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
            "instanceIdentifier" : "80ea2a6e-75a7-3486-4b4a-142de51ff484",
            "name" : "LoadLastRecordForSecurityReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
            "instanceIdentifier" : "15bd50a3-f7df-3d83-78ef-9710ff8c6eab",
            "name" : "VerifyPrices",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "0ac27470-36bf-3bab-a5b9-0eb19df9422d",
          "instanceIdentifier" : "3c2728a2-eb63-3c9a-d2d9-6d3a8f224f88",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "9051d7fb-bf03-3a31-6956-e72aa9f6de7d",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "276529e9-6db1-373d-8c86-51687d20d058",
            "instanceIdentifier" : "276529e9-6db1-373d-8e2f-c653bdd5a32a",
            "name" : "SaveReturnsToDb",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8364d402-6be3-3848-a9f2-2b86e828a5d9",
          "instanceIdentifier" : "8364d402-6be3-3848-bfa2-994a8d0faa3a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
            "instanceIdentifier" : "c19ad2c7-9910-3dd6-c04c-6e600066194b",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "85327fe1-7c74-3f29-a867-da6b6967a0d0",
            "instanceIdentifier" : "a02e388b-0e89-1fd9-360f-9f49bf16707f",
            "name" : "ForkEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "55439f88-056a-3bce-9f08-619f50d2927d",
          "instanceIdentifier" : "a02e3898-0e89-1fd9-053c-ec8c0fc34f0b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c9113c75-0d98-3697-bd62-221038e93d0b",
            "instanceIdentifier" : "a02e3879-0e89-1fd9-90f1-578b8c3c2efa",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "88852ef4-29a9-34ed-122c-6422496db76d",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9f697e7c-6314-3552-8d7f-012c36a53968",
          "instanceIdentifier" : "a02e389a-0e89-1fd9-6dce-d2deab9c8dcd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "business" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "9e669a19-88da-3fce-a0cb-7ae9f49998d3",
            "instanceIdentifier" : "a02e3891-0e89-1fd9-5dd1-ae20ea7388aa",
            "name" : "CheckHoliday",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "9e669a19-88da-3fce-a0cb-7ae9f49998d3",
            "instanceIdentifier" : "a02e3891-0e89-1fd9-5dd1-ae20ea7388aa",
            "name" : "CheckHoliday",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "89dd107e-e5be-312e-b805-74a5ef96894f",
          "instanceIdentifier" : "a02e3899-0e89-1fd9-1a4d-827b922d514b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "8655c4ef-73d9-3e77-9704-759eeb61ae09",
            "instanceIdentifier" : "a02e388c-0e89-1fd9-6f7f-69ef02557667",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
            "instanceIdentifier" : "80ea2a6e-75a7-3486-4b4a-142de51ff484",
            "name" : "LoadLastRecordForSecurityReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "3628dd00-2716-3d96-ae04-313adbe89d4d",
          "instanceIdentifier" : "3628dd00-2716-3d96-5bf7-a03ef471e009",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
            "instanceIdentifier" : "48c63f4f-3bbc-3ce4-9fc8-05fde3111c71",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "9051d7fb-bf03-3a31-6956-e72aa9f6de7d",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "5692f9ab-47b6-3d9e-8c6b-a2961ae5575b",
          "instanceIdentifier" : "fe0034c7-9118-351d-add1-68d24abc8b3f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "88852ef4-29a9-34ed-122c-6422496db76d",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
            "instanceIdentifier" : "08da27f9-b7d9-3ae2-e3a4-893af9526432",
            "name" : "StartSecurityReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "10dfbd8c-a3fe-342e-83b4-d42451a00b77",
          "instanceIdentifier" : "a02e3877-0e89-1fd9-57cc-d111c701c468",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "393fa7e8-db6b-3227-9987-9311db0597f5",
            "instanceIdentifier" : "a02e3875-0e89-1fd9-199e-d6271927e9fa",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
            "instanceIdentifier" : "48c63f4f-3bbc-3ce4-9fc8-05fde3111c71",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "763689f7-8ee0-3e24-930e-f24cae8f635b",
          "instanceIdentifier" : "a02e38af-0e89-1fd9-b8e4-5b95bf81ab85",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b412ae29-daa1-32ac-b7cc-f885974bad8e",
            "instanceIdentifier" : "b412ae29-daa1-32ac-8513-50de48457c87",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "8655c4ef-73d9-3e77-9704-759eeb61ae09",
            "instanceIdentifier" : "a02e388c-0e89-1fd9-6f7f-69ef02557667",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "96cfabb3-2879-3d74-99d8-ec238cb0b9a7",
          "instanceIdentifier" : "a02e388f-0e89-1fd9-1e58-134fd6bc812d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "88bce4c4-b8bb-3770-8352-eb34826ee27e",
            "instanceIdentifier" : "a02e388a-0e89-1fd9-0f7c-9f1348cdb95e",
            "name" : "IsHoliday",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
            "instanceIdentifier" : "c19ad2c7-9910-3dd6-c04c-6e600066194b",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "a194e382-17f7-3e33-9a7e-2a12987e35d5",
          "instanceIdentifier" : "8fc159e3-fa24-3f6c-d2b0-f7448468ed48",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "levelsFound",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
            "instanceIdentifier" : "44c6a7e3-9ef8-33a3-0354-65c350954533",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
            "instanceIdentifier" : "44c6a7e3-9ef8-33a3-0354-65c350954533",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c135a051-7331-375c-9c2d-789bef5313f3",
          "instanceIdentifier" : "73238050-a5b5-39b3-f204-ca5842084e02",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
            "instanceIdentifier" : "15bd50a3-f7df-3d83-78ef-9710ff8c6eab",
            "name" : "VerifyPrices",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9be2e2af-23af-3fb7-be69-adda157db381",
          "instanceIdentifier" : "9be2e2af-23af-3fb7-3f64-d1140debb7bd",
          "name" : "SecurityReturnsDateLookupRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Date Format" : "yyyy-MM-dd",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "df843661-132e-3c89-ac63-317aae0d22b3",
          "instanceIdentifier" : "316ead84-a4fb-301e-bd44-b931ce5f23b8",
          "name" : "SecurityPricesOriginalRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c24ff613-d986-372f-bb58-afc4702712b6",
          "instanceIdentifier" : "a02e3893-0e89-1fd9-c9cf-9f852994fcd4",
          "name" : "HolidayCheckOriginalJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "1ac91f4c-cc10-320f-a651-73b234264328",
          "instanceIdentifier" : "a02e3894-0e89-1fd9-dbf1-2d5c71fcc231",
          "name" : "HolidayCheckEnrichmentJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "64d9736e-9d74-3080-9ed6-f4c1acf45b2c",
          "instanceIdentifier" : "58f32127-3eb5-3560-fd54-f70533b632f9",
          "name" : "SecurityPricesEnrichedRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "e4efdf3d-3ce9-3711-9d37-7e546e7c9484",
          "instanceIdentifier" : "e4efdf3d-3ce9-3711-d50b-1b05a0061774",
          "name" : "SecurityReturnsJsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "a0045fa9-9b36-311a-8504-528ac41be403",
          "instanceIdentifier" : "22f4e281-8830-3ccb-b97e-268edf468d1e",
          "name" : "SecurityPricesEnrichedRecordReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "3f196939-13b0-3e0c-95b7-575ee4f597ad",
          "instanceIdentifier" : "37d5b1b3-d0f6-3265-1439-3d0ef9ff1705",
          "name" : "OrganizationsOriginalRecordReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c4842d42-1bd4-3764-ad3a-9d17a69efdf5",
          "instanceIdentifier" : "c4842d42-1bd4-3764-c2b4-35f8668f190f",
          "name" : "SecurityPricesLookupRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Timestamp Format" : "yyyy-MM-dd'T'hh:mm:ss",
            "Date Format" : "yyyy-MM-dd",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "Time Format" : "hh:mm:ss",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8ebc6476-e4f4-39bf-969f-b049789ccf62",
          "instanceIdentifier" : "a02e3895-0e89-1fd9-2f10-b9f551f8add7",
          "name" : "HolidayCheckJoinJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "04cb5512-d73b-308e-bd74-8c3deb934671",
          "instanceIdentifier" : "592c9dd9-d120-38f8-1446-fc05d4075009",
          "name" : "OrganizationsRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "87b3e547-759f-30ee-a6db-b7383e1f01e3",
          "instanceIdentifier" : "a02e3892-0e89-1fd9-42b2-d3ddf5c515a7",
          "name" : "HolidayCheckRecordJsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.25.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "52ff3cae-332d-3ab5-aa5f-fcaff28758b5",
          "instanceIdentifier" : "a26902f1-7a6f-3d94-41ae-695f3c943e25",
          "name" : "SecurityPricesOriginalRecordReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
        "inputPorts" : [ ],
        "instanceIdentifier" : "cd87fd1c-66eb-3c47-19fb-6dbb518a4e83",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "CalculateSecurityReturns",
        "outputPorts" : [ ],
        "parameterContextName" : "SPP",
        "position" : {
          "x" : 336.0,
          "y" : -80.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "74842d44-063b-38b3-b661-23c9c00b259d",
          "instanceIdentifier" : "88852ef4-29a9-34ed-122c-6422496db76d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartSecurityPricesLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -136.0,
            "y" : 1128.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
          "instanceIdentifier" : "9051d7fb-bf03-3a31-6956-e72aa9f6de7d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FinishSecurityPricesDateLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 1472.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "52ff3cae-332d-3ab5-aa5f-fcaff28758b5",
            "Record Writer" : "64d9736e-9d74-3080-9ed6-f4c1acf45b2c",
            "Enrichment Record Reader" : "a0045fa9-9b36-311a-8504-528ac41be403",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
          "instanceIdentifier" : "0bb31159-7f52-31bc-057b-10f035d043e8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : 1128.0
          },
          "properties" : {
            "esql-max-rows" : "5",
            "esqlrecord-record-writer" : "c4842d42-1bd4-3764-ad3a-9d17a69efdf5",
            "dbf-default-precision" : "32",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "false",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : " SELECT id, security_id, to_char(date, 'YYYY-MM-dd') date, open, high, low, close, volume FROM spp.security_prices sp \n  WHERE security_id = ${security_id}\n  AND date IN ('${date}', spp.previous_business_date('#{exchangeBse}', '#{exchangeBseSegmentEquity}', '${date}', ${return_period_days}))\n  ORDER BY date DESC",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8655c4ef-73d9-3e77-9704-759eeb61ae09",
          "instanceIdentifier" : "a02e388c-0e89-1fd9-6f7f-69ef02557667",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoinEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 584.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "c24ff613-d986-372f-bb58-afc4702712b6",
            "Record Writer" : "8ebc6476-e4f4-39bf-969f-b049789ccf62",
            "Enrichment Record Reader" : "1ac91f4c-cc10-320f-a651-73b234264328",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ "timeout" ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "holiday", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9e669a19-88da-3fce-a0cb-7ae9f49998d3",
          "instanceIdentifier" : "a02e3891-0e89-1fd9-5dd1-ae20ea7388aa",
          "maxBackoffPeriod" : "10 mins",
          "name" : "CheckHoliday",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 832.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "business" : "\"is_holiday\":false",
            "Match Requirement" : "content must contain match",
            "Character Set" : "UTF-8",
            "holiday" : "\"is_holiday\":true"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "business" : {
              "displayName" : "business",
              "identifiesControllerService" : false,
              "name" : "business",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "holiday" : {
              "displayName" : "holiday",
              "identifiesControllerService" : false,
              "name" : "holiday",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
          "instanceIdentifier" : "15bd50a3-f7df-3d83-78ef-9710ff8c6eab",
          "maxBackoffPeriod" : "10 mins",
          "name" : "VerifyPrices",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 1728.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "if(.\"date\" == .\"dateToPrices\".\"date\" and .\"error\" == null)\n  {\n  *:.\n  }\nelse\n  {\n  \"error\": if(.\"error\") .\"error\" else \"Some prices missing\",\n  *:.\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "393fa7e8-db6b-3227-9987-9311db0597f5",
          "instanceIdentifier" : "a02e3875-0e89-1fd9-199e-d6271927e9fa",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : -456.0
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c9113c75-0d98-3697-bd62-221038e93d0b",
          "instanceIdentifier" : "a02e3879-0e89-1fd9-90f1-578b8c3c2efa",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 56.0
          },
          "properties" : {
            "date" : "$.date",
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "security_id" : "$.security_id",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "date" : {
              "displayName" : "date",
              "identifiesControllerService" : false,
              "name" : "date",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "security_id" : {
              "displayName" : "security_id",
              "identifiesControllerService" : false,
              "name" : "security_id",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
          "instanceIdentifier" : "08da27f9-b7d9-3ae2-e3a4-893af9526432",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartSecurityReturnsCalculationForDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -133.50526054124327,
            "y" : -196.0168539038027
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "let return_period_seconds = 86400 * ${return_period_days}\n\n{\n  \"security_id\": .\"security_id\",\n  \"date\": .\"date\",\n  \"return_period\": \"${return_period_days}d\",\n  \"dateFromPrices\": ${return_period_days},\n  \"dateToPrices\":.\"date\",\n  \"error\":null\n}",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
          "instanceIdentifier" : "80ea2a6e-75a7-3486-4b4a-142de51ff484",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LoadLastRecordForSecurityReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : -928.0
          },
          "properties" : {
            "esql-max-rows" : "1",
            "esqlrecord-record-writer" : "9be2e2af-23af-3fb7-be69-adda157db381",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "1",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT s.id security_id, to_char(max(sr.\"date\"), 'YYYY-MM-DD') \"date\"\nFROM spp.securities s \nINNER JOIN spp.exchange_segments es \nON es.id = s.exchange_segment_id\nAND es.status = 'Active'\nINNER JOIN spp.exchanges e \nON e.id = es.exchange_id \nLEFT OUTER JOIN spp.security_returns sr \nON s.id = sr.security_id \nAND sr.return_period = '${return_period_days}d'\nWHERE \ns.status = 'Active'\nAND e.\"name\" = '#{exchangeBse}'\nAND es.\"name\" = '#{exchangeBseSegmentEquity}'\nAND s.exchange_code IN ('505200')\nGROUP BY s.id",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
          "instanceIdentifier" : "21f4019d-9c81-3751-a1b4-b4bc50a936c6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "NextDates",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : -688.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "def getNextDate(record)\n  let trainingStartDate = \"#{returnsStartDate}\"\n  let nextDate = if($record.\"date\") round(parse-time($record.\"date\", \"yyyy-MM-dd\") + 86400.00) else round(parse-time($trainingStartDate, \"yyyy-MM-dd\"))\n  \n  {\n\t\"security_id\" : $record.\"security_id\",\n    \"date\" : format-time($nextDate, \"yyyy-MM-dd\")\n  }\n\n\ndef records(arr)\n  let record = $arr[-1]\n  let trainingStopDate = round(parse-time(\"#{endDate}\", \"yyyy-MM-dd\"))\n  let newRecord = getNextDate($record)\n  let newRecordDate = round(parse-time($newRecord.\"date\", \"yyyy-MM-dd\"))\n  if($newRecordDate <= $trainingStopDate)\n    let newArr = if($record.\"date\") flatten([$arr, [$newRecord]]) else [$newRecord]\n    records($newArr)\n  else\n    {\"records\":$arr}\n\n\nrecords([.]).\"records\"\n",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
          "instanceIdentifier" : "a335b706-b535-3280-d2b8-5456ea789ed6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SecurityPricesDateLookupRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 1480.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "let prices=.\n\nif(is-array($prices) and size($prices)==2)\n  let dateToPrices={\n\t  \"id\":.[0].\"id\",\n      \"date\":.[0].\"date\",\n      \"open\":.[0].\"open\",\n      \"high\":.[0].\"high\",\n      \"low\":.[0].\"low\",\n      \"close\":.[0].\"close\"\n  }\n\n  let dateFromPrices={\n\t  \"id\":.[1].\"id\",\n      \"date\":.[1].\"date\",\n      \"open\":.[1].\"open\",\n      \"high\":.[1].\"high\",\n      \"low\":.[1].\"low\",\n      \"close\":.[1].\"close\"\n  }\n\n  {\n    \"dateFromPrices\":$dateFromPrices,\n    \"dateToPrices\":$dateToPrices\n  }\nelse\n  {\n    \"error\":\"Some prices missing\",\n\t*:.\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
          "instanceIdentifier" : "48c63f4f-3bbc-3ce4-9fc8-05fde3111c71",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : -1152.0
          },
          "properties" : {
            "return_period_days" : "$",
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "return_period_days" : {
              "displayName" : "return_period_days",
              "identifiesControllerService" : false,
              "name" : "return_period_days",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
          "instanceIdentifier" : "c19ad2c7-9910-3dd6-c04c-6e600066194b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "CalculateReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : 2008.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-result-filter" : ". != null and . != {} and . != []",
            "jslt-transform-transformation" : "  {\n    \"security_id\" : .\"security_id\",\n    \"date\" : .\"date\",\n    \"last_updated_timestamp\":format-time(now(), \"yyyy-MM-dd HH:mm:ss\", \"IST\"),\n\t\"return_period\": .\"return_period\",\n    \"from_security_prices_id\": .\"dateFromPrices\".\"id\",\n\t\"to_security_prices_id\": .\"dateToPrices\".\"id\",\n\t\"return\": (.\"dateToPrices\".\"close\" / .\"dateFromPrices\".\"close\") - 1\n  }",
            "jslt-transform-cache-size" : "1",
            "jslt-transform-transformation-strategy" : "ENTIRE_FLOWFILE"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-result-filter" : {
              "displayName" : "Transform Result Filter",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-result-filter",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            },
            "jslt-transform-transformation-strategy" : {
              "displayName" : "Transformation Strategy",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "88bce4c4-b8bb-3770-8352-eb34826ee27e",
          "instanceIdentifier" : "a02e388a-0e89-1fd9-0f7c-9f1348cdb95e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "IsHoliday",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 712.0,
            "y" : 448.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "esqlrecord-record-writer" : "87b3e547-759f-30ee-a6db-b7383e1f01e3",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT spp.is_holiday('#{exchangeBse}', '#{exchangeBseSegmentEquity}', '${date}')",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b412ae29-daa1-32ac-b7cc-f885974bad8e",
          "instanceIdentifier" : "b412ae29-daa1-32ac-8513-50de48457c87",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -120.0,
            "y" : -1392.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "#{forecastDays}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "86400 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "85327fe1-7c74-3f29-a867-da6b6967a0d0",
          "instanceIdentifier" : "a02e388b-0e89-1fd9-360f-9f49bf16707f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ForkEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 312.0
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "276529e9-6db1-373d-8c86-51687d20d058",
          "instanceIdentifier" : "276529e9-6db1-373d-8e2f-c653bdd5a32a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SaveReturnsToDb",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 680.0,
            "y" : 2224.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-schema-name" : "spp",
            "put-db-record-quoted-table-identifiers" : "true",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "false",
            "put-db-record-dcbp-service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "true",
            "put-db-record-statement-type" : "UPSERT",
            "db-type" : "PostgreSQL",
            "put-db-record-update-keys" : "security_id,date,return_period",
            "put-db-record-quoted-identifiers" : "true",
            "put-db-record-table-name" : "security_returns",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "put-db-record-record-reader" : "e4efdf3d-3ce9-3711-9d37-7e546e7c9484"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "error" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
          "instanceIdentifier" : "44c6a7e3-9ef8-33a3-0354-65c350954533",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 2016.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "Match Requirement" : "content must contain match",
            "error" : "\"Some prices missing\"",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "error" : {
              "displayName" : "error",
              "identifiesControllerService" : false,
              "name" : "error",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "SPP" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "SPP",
          "parameters" : [ {
            "description" : "",
            "name" : "startDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2000-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBse",
            "provided" : false,
            "sensitive" : false,
            "value" : "BSE"
          }, {
            "description" : "",
            "name" : "endDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-12-31"
          }, {
            "description" : "",
            "name" : "returnsEndDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-09-30"
          }, {
            "description" : "",
            "name" : "alphavantageBaseUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "https://www.alphavantage.co/query"
          }, {
            "description" : "Free Key for now",
            "name" : "alphavantageApiKey",
            "provided" : false,
            "sensitive" : false,
            "value" : "JVUV262LUEINMW0U"
          }, {
            "description" : "",
            "name" : "forecastDays",
            "provided" : false,
            "sensitive" : false,
            "value" : "10"
          }, {
            "description" : "",
            "name" : "returnsStartDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2018-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBseSegmentEquity",
            "provided" : false,
            "sensitive" : false,
            "value" : "EQUITY"
          }, {
            "description" : "",
            "name" : "exchangeBseSensex",
            "provided" : false,
            "sensitive" : false,
            "value" : "SENSEX"
          }, {
            "description" : "",
            "name" : "mongoUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "mongodb://localhost:27017/"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}